body {
  margin: 0 auto;
  margin-top: 3%;
  padding: 0;
  font-family: "NanumSquare";
  background-color: #e2e2e2;
  text-align: center;
}


h3 {
  color: #28283c;
  margin: 0;
  text-align: left;
  margin-bottom: 2%;
}

.container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.title {
  font-size: 150%;
  font-family: 'Song Myung', serif;
  width: 90%;
  margin: 0;
  padding-top: 1%;
}

.unit {
  padding: 0;
  padding-top: 1%;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 2%;
  border: none;
  background-color: white;
  border-radius: 5px;
}

.form {
  margin: 0;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
}

b {
  margin-right: 91%;
  color: #666872;
}

textarea {
  width: 90%;
  border: none;
  resize: none;
}

.submit {
  text-align: left;
  margin-left: 4.8%;
}

input[type="text"] {
  width: 50%;
  border: none;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

button {
  width: 9%;
  border: none;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}


.input_box {
  margin: 0 auto;
  margin-bottom: 3%;
  width: 50%;
}
